#head , #head2 {
    text-align: center;
    margin-top: 20px;
    font-size: 25px;
    font-weight: 800;
}

.box {
    display: flex;
    flex-wrap: wrap;
    width: 700px;
    margin: 50px auto;
}
.box button{
    padding: 24px 20px;
     text-align: center;
   font-size: 25px;
   color:#ED2647;
}
#box-item {
    border: 1px solid black;
    background-color: limegreen;
    width: 140px;
}

 .btn-part{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

 .btn-part button {
    height: 50px;
    width: 150px;
}
